.profile-menu-container {
    display: grid;
    grid-template-rows: 19% 19% 19% 5% 19% 19%;
    place-items: center;
}

.profile-menu__row {
    width: 80vw;
    height: 3em;
    margin: .5em 0 .5em 0;
    align-items: center;
    display: grid;
    grid-template-columns: 4em 1fr 1.5em;
}

.profile-menu__icon {
    display: grid;
    place-items: center;
    height: 3em;
    width: 3em;
    border-radius: 0.5em;
    background-color: #fff8ee;
}

.profile-menu__title {
    color: #707070;
}

.profile-menu__line {
    height: 0.1em;
    width: 80vw;
    background-color: #f6f6f6;
    margin: 0;
}