.progress-link {
  display: flex;
  align-items: center;
  background-color: #9e9bc7;
  color: white;
  border-radius: 2em;
  position: relative;
  overflow: hidden;
}

.progress-link__text {
  display: flex;
  align-items: center;
  margin: 1.25em;
}

.progress-link__cta {
  background-color: white;
  color: #9e9bc7;
  border-radius: 0.5em;
  display: flex;
  align-items: center;
  margin: 1.9em;
  padding: 0.4em;
}

.progress-link__cta--icon {
  display: flex;
  align-items: center;
  padding-left: 0.3em;
}

.progress-link__cta--text {
  font-size: 0.75em;
}

.progress-link__circle {
  width: 14.5em;
  height: 14.5em;
  border-radius: 50%;
  position: absolute;
  background-color: #c4c4c4;
  mix-blend-mode: soft-light;
  opacity: 0.2;
  right: -6em;
  bottom: -1em;
}
